<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    // 通过DefineDir类映射自定义变量, 实现动态修改logback的日志配置参数
    <define name="LOG_DIR" class="com.kingsley.log.config.LogDirConfig"/>
    <define name="LOG_LEVEL" class="com.kingsley.log.config.LogLevelConfig"/>
    <define name="APP_NAME" class="com.kingsley.log.config.ContextConfig"/>
    <define name="FILE_LOG_PATTERN" class="com.kingsley.log.config.FilePatternConfig"/>
    <define name="CONSOLE_LOG_PATTERN" class="com.kingsley.log.config.ConsolePatternConfig"/>
    <define name="SUMMARY_NAME" class="com.kingsley.log.config.SummaryLogNameConfig"/>
    <define name="DAY_LOG_FILE_NAME_DEFAULT_PATTERN" class="com.kingsley.log.config.DayLogConfig"/>

    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN}"/>
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN}"/>

    <contextName>${APP_NAME}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${SUMMARY_NAME}.log</file>
        <append>true</append>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${DAY_LOG_FILE_NAME_DEFAULT_PATTERN}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 使用root的appender-ref -->
    <!--<logger name="com.kingsley.**" level="DEBUG" additivity="false">-->
    <!--    <appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>
